Repository input-output-hk/marlowe-cardano, pull requests merged in 2022-07, with the labels that each got.

#177 SCP-4067 - Make static analysis consider unreachable `Close` contracts
  marlowe-playground-client/src/StaticAnalysis/Reachability.purs
Labels: bug

#185 SCP-4247 Filtered Chain Sync Protocol specification
  marlowe-runtime/docs/filtered-chain-sync-spec-1.0.md
Labels: documentation, Marlowe Runtime

#203 SCP-4332 - Remove Scale from Blockly
  marlowe-playground-client/src/Marlowe/Blockly.purs
Labels: bug

#205 SCP-4331 - Make Division More Usable
  marlowe-contracts/test/Spec/Marlowe/Contracts.hs
  marlowe/src/Language/Marlowe/Analysis/FSSemantics.hs
  marlowe/src/Language/Marlowe/Core/V1/Semantics.hs
  marlowe/test/Spec/Marlowe/Marlowe.hs
  marlowe/test/Spec/Marlowe/Semantics.hs
  marlowe/test/Spec/Marlowe/Util.hs
  web-common-marlowe/src/Language/Marlowe/Core/V1/Semantics.purs
Labels: enhancement, semantics
