Repository input-output-hk/marlowe-cardano, pull requests merged in 2023-04, with the labels that each got.

#558 PLT-3382 Elaborate comment on `refundOne`.
  marlowe/src/Language/Marlowe/Core/V1/Semantics.hs
Labels: documentation

#563 Use Scriv for Changelog management
  .github/workflows/check-changelog.yml
  CONTRIBUTING.adoc
  dev-shell.nix
  marlowe-actus/changelog.d/scriv.ini
  marlowe-cli/changelog.d/scriv.ini
  marlowe-runtime/changelog.d/scriv.ini
  marlowe/changelog.d/scriv.ini
  nix/pkgs/scriv.nix
  scripts/assemble-changelog.sh
  scriv.ini
Labels: No Changelog Required

#565 PLT-5462 Check Plutus logs in validator tests
  marlowe-test/marlowe-test.cabal
  marlowe-test/src/Spec/Marlowe/Marlowe.hs
  marlowe-test/src/Spec/Marlowe/Plutus/Specification.hs
  marlowe/CHANGELOG.md
  marlowe/changelog.d/20230418_154551_brian.bush_PLT_5462.md
  marlowe/marlowe-cardano.cabal
  marlowe/src/Language/Marlowe/Scripts.hs
Labels: Marlowe Validator

#569 Improve REST error codes
  marlowe-runtime-web/server/Language/Marlowe/Runtime/Web/Server/REST/ApiError.hs
Labels: No Changelog Required
